/*.container {
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: calc(100% - .75rem);
	@media #{$mq-xs-min} { max-width: 95%; }
	@media #{$mq-md-min} { max-width: 80%; }
	//@media #{$mq-2xl-min} { max-width: calc(80% - 10rem) }
	@media #{$mq-2xl-min} { max-width: calc(80% - 8rem) }
}*/

.container {
	position: relative;
	z-index: 1;
	padding-left: .675rem;
    padding-right: .675rem;
	max-width: calc(100% - .75rem);
	
	@media #{$mq-xs-min} {
		max-width: 92%;
	}

	@media #{$mq-lg-min} {
		max-width: calc(100vw - 12rem);
	}

	@media #{$mq-xl-min} {
		max-width: calc(100vw - 22rem);
	}
	
	@media #{$mq-2xl-min} {
		max-width: calc(100vw - 30rem);
	}
	
	@media #{$mq-3xl-min} {
		max-width: calc(100vw - 40rem);
	}

	&--big {
		@media #{$mq-lg-min} {
			max-width: calc(100vw - 2rem);
		}
	
		@media #{$mq-xl-min} {
			max-width: calc(100vw - 16rem);
		}
		
		@media #{$mq-2xl-min} {
			max-width: calc(100vw - 18rem);
		}
		
		@media #{$mq-3xl-min} {
			max-width: calc(100vw - 20rem);
		}
	}
}

.row {
	margin-left: -.675rem;
	margin-right: -.675rem;

	@media #{$mq-2xl-min} {
		margin-left: calc(-.675rem * 1.5);
		margin-right: calc(-.675rem * 1.5);
	}

	&--small-gap {
		margin-left: -.375rem;
		margin-right: -.375rem;

		.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
			padding-left: .375rem;
			padding-right: .375rem;		
		}
	}
}

.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto {
	padding-left: .675rem;
	padding-right: .675rem;

	@media #{$mq-2xl-min} {
		padding-left: calc(.675rem * 1.5);
		padding-right: calc(.675rem * 1.5);
	}
}